## Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Pp]ackages/packages-lock.json

## Generated solution/project files
*.csproj
*.sln.ide
*.unityproj
*.pidb
*.suo
*.user
*.userprefs
*.booproj

## IDE
.idea/
.vscode/
.vs/
*.DotSettings.user

## Cache and local data
/.gradle/
/*.swp
*.tmp
*.temp
*.log

## Build artifacts
*.apk
*.aab
*.ipa
*.app
*.exe
*.dll
*.pdb
*.mdb

## Other
Assets/AssetStoreTools*
*.unitypackage


